.root2 {
    display: block;
    position: fixed;
    top: calc((100vh - 50vh) - 301px);
    left: calc((100vw - 50vw) - 201px);
    z-index: 11;
}

.entranceWrapperReg {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    height: 600px;
    position: relative;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}

.backMark {
    width: 30px;
    height: 30px;
    /* background-image: url('https://services.garmin.cn/appsLibraryBusinessServices_v0/rest/apps/d7bd430c-f443-4aaa-b7d3-993a22b1b1f4/icon/c11c5660-48d4-408a-bcf0-20f433f05ee4'); */
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
}

.eye1, .eye2, .eye3, .eye4, .eye5 {
    width: 23px;
    cursor: pointer;
    position: absolute;
}

.eye1 {
    top: 343px;
    left: 312px;
}

.eye2 {
    top: 416px;
    left: 312px;
}

.nameTitle {
    color: #585858;
    font-size: 2rem;
    padding-bottom: 10px;
    font-weight: bold;
}

.entranceName {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    width: 100%;
}

.formFactor {
    width: 70%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ff9800;
    outline: none;
}

.buttonRegistration {
    margin-top: 30px;
    font-size: 2rem;
}

.valid {
    border: 2px solid green;
}

.noValid {
    border: 2px solid red;
}

.invalidFormText {
    display: none;
    position: absolute;
    left: 59px;
    width: 70%;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: bold;
}

.invalidFormText1 {
    top: 300px;
}

.invalidFormText2 {
    top: 455px;
}

@media (orientation: landscape) and (min-width: 800px) and (max-width: 1300px) {
    .root2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .entranceWrapperReg {
        height: 310px;
        width: 610px;
    }

    .entranceName {
        row-gap: 4px;
    }

    .nameTitle {
        padding-bottom: 0px;
    }

    .invalidFormText {
        left: 45px;
    }

    .invalidFormText1 {
        top: 232px;
        left: 4px;
    }

    .invalidFormText2 {
        top: 232px;
        left: 277px;
    }

    .eye1, .eye2 {
        left: 231px;
    }

    .eye1 {
        top: 323px;
    }

    .eye2 {
        top: 397px;
    }

    .buttonRegistration {
        margin-top: 20px;
    }
}

@media (orientation: portrait) and (min-width: 480px) and (max-width: 900px) {
    .root2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .entranceWrapperReg {
        height: 525px;
        width: 310px;
    }

    .invalidFormText {
        left: 45px;
    }

    .invalidFormText1 {
        top: 279px;
    }

    .invalidFormText2 {
        top: 440px;
    }

    .eye1, .eye2 {
        left: 231px;
    }

    .eye1 {
        top: 323px;
    }

    .eye2 {
        top: 397px;
    }
}

@media (orientation: landscape) and (min-width: 650px) and (max-width: 900px) {
    .root2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .entranceWrapperReg {
        height: 310px;
        width: 610px;
    }

    .entranceName {
        row-gap: 4px;
    }

    .nameTitle {
        padding-bottom: 0px;
    }

    .invalidFormText {
        left: 45px;
    }

    .invalidFormText1 {
        top: 232px;
        left: 4px;
    }

    .invalidFormText2 {
        top: 232px;
        left: 277px;
    }

    .eye1, .eye2 {
        left: 493px;
    }

    .eye1 {
        top: 166px;
    }

    .eye2 {
        top: 203px;
    }

    .buttonRegistration {
        margin-top: 20px;
    }
}

@media (orientation: portrait) and (min-width: 320px) and (max-width: 475px) {
    .root2 {
        display: flex;
        justify-content: center;
        width: 100vw;
        position: absolute;
        top: 70px;
        left: 0px;
    }

    .entranceWrapperReg {
        height: 525px;
        width: 310px;
    }

    .invalidFormText {
        left: 45px;
    }

    .invalidFormText1 {
        top: 279px;
    }

    .invalidFormText2 {
        top: 440px;
    }

    .eye1, .eye2 {
        left: 231px;
    }

    .eye1 {
        top: 323px;
    }

    .eye2 {
        top: 397px;
    }
}